@font-face {
    font-family: Lato-Regular;
    src: url(fonts/Lato-Regular.ttf);

    font-family: Merriweather-Regular;
    src: url(fonts/Merriweather-Regular.ttf);
}


html {
    font-family: Lato-Regular;
    
}
body{
    margin: 0;
}
.head{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 110px;
    
    background:  white;
    position: relative;
    
}

.head-logo{
    position: absolute;
    left: 0;
    padding-left: 21.09%;
    top: 33px;
    display: flex;
    flex-wrap: nowrap;
    
}

.logo{
    width: 40px;
    height: 40px;
    padding-right: 30px;
    
}
.name{
    font-family: Merriweather-Regular;
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;

    color: rgba(0, 95, 163, 1);
    
}

nav{
    position: absolute;
    padding-left: 44.27%;
    left: 0;
    top: 22px;
}

.list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0%;
    padding-left: 0%;
    padding-left: 34px;
    
    
    
    
    
}
.contacts {
    display: flex;
    flex-wrap: nowrap;
    
    padding-right: 40px;
    margin: 0px;
    font-size: 13px;
    line-height: 17px;
    
   
    
}
.picture{
    padding-right: 15px;
    width: 10px;
    height: 17px;
}
.number{
    font-size: 13px;
    line-height: 17px;
    padding-right: 15px;
    
}

.date{
    width: 17px;
    height: 17px;
    padding-right: 15px;
}

.mail{
    width: 22px;
    height: 17px;
    padding-right: 15px;
}

.street{
    width: 13px;
    height: 17px;
    padding-right: 15px;
}

.list-two{
   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0%;
    padding: 0;
    
    padding-top: 20px;
    
}

.list-two-about{
    padding: 0px 34px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(34, 34, 34, 1);

    border-bottom: 3px solid transparent;
}
.list-two-main{

    padding-left: 34px;
}
.list-two-last{
    padding-right: 27px;
    padding-left: 27px;
}

.list-two-about:hover{

    border-bottom-color: #E5E5E5;;
}


@media (max-width: 1360px){

    .head-logo{
        
        padding-left: 10%;
    }
    
    nav{
        
        padding-left: 35%;
    }
    
}
@media (max-width: 1161px){
    .head-logo{
        
        padding-left: 2%;
    }
    
    nav{
        
        padding-left: 24%;
    }
}

@media (max-width: 1000px){

    .test{
        padding-top: 25px;
        
    }
    .burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 6;
        
    }

    .burger:before,
    .burger:after{
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all .3s ease 0s;

    }
    .burger:before{
        top: 0;
    }
    .burger:after{
        bottom: 0;
    }
    .burger .burger-span{
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all .3s ease 0s;

    }

    .burger.active-on:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .burger.active-on::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .burger.active-on .burger-span{
        transform: scale(0);
    }
    .list-two{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-top: 10%;

    }
    .list-two li{
        
        margin-bottom: 30px;
    }

    .list-two a{
        
        font-size: 30px;
    }
    .burger-menu{
        
        position: fixed;
        top: -100%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #EBEBEB;
        z-index: 5;
        transition: all .3s ease 0s;
        
    }
    .burger-menu.active-on{

        top: 0%;
        
    }
    .list{
        display: none;
    }
    nav{
        padding-left: 93%;
    }
    body.lock{
        overflow: hidden;
    }

    .head-logo{
        width: 98%;
        justify-content: center;
    }
}