.slider-container-four{
    width: 100%;
    min-height: 320px;
	margin: 0;
	
}


.slider-four-clients{
    position: absolute;
    
    margin-top: 140px;
    margin-left: 21.09%;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;

    color: rgba(189, 189, 189, 1);
}

.slider-four-work{
    font-family: Merriweather-Regular;
    position: absolute;
    
    margin-top: 203px;
    margin-left: 21.197916%;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;

    color: rgba(51, 51, 51, 1);
}
.slider-item-four{
    display: none;
}
.slider-active-four{
    display: block;
}


.section-four{
    width: 100%;
    min-height: 900px;

    background-color: white;
    position: relative;

    
}
.slider-reviews{
    position: absolute;
    width: 57.29166666666667%;
    min-height: 320px;
    margin-top: 330px;
    margin-left: 21.09%;
    background-color:  rgba(235, 235, 235, 1);
    
    /* position: relative; */
    
}
.slider-reviews-txt{
    position: absolute;
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 45px;
    max-width: 920px;
    margin: 0%;

    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
 
}
.slider-face{
    position: absolute;
    padding-top: 195px;
    padding-left: 95px;
    width: 80px;
    height: 80px;
}

.slider-face-locate{
    position: absolute;
    padding-top: 212px;
    padding-left: 210px;

}
.slider-face-name{
    
    
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;

    color: #000000;
}

.slider-face-position{
    
    font-size: 14px;
    line-height: 19px;
    color: rgba(79, 79, 79, 1);
}

.prev-two,
.next-two{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    
	top: 700px;
    width: 60px;
    height: 60px;
    
	color: #fff;
	z-index: 4;
	transition: .6s;
}
.prev-two{
    /* left: 1395px; */
    background-color: rgba(0, 95, 163, 1);
    opacity: 0.2;
}
.next-two{
    /* left: 1455px; */
    margin-left: 60px;
    background-color: rgba(0, 95, 163, 1);
    opacity: 1;
}
.prev-two:hover,
.next-two:hover{
    background-color: rgba(0, 95, 163, 1);
    opacity: 1;
}
.prev-two:active,
.next-two:active{
    background-color: rgba(0, 95, 163, 1);
    opacity: 0.1;
}
.prev-two:hover + .next-two{
    background-color: rgba(0, 95, 163, 1);
    opacity: 0.2;
}
.dots{
    position: absolute;
    
    cursor: pointer;
    
	width: 10px;
	height: 10px;
	margin-right: 40px;
	border-radius: 50%;
	display: inline-block;
    background-color: rgba(0, 95, 163, 1);
    opacity: 0.4;
    transition: background-color, opacity 0.6s ease;
    
}
.active, .dots:hover{
    opacity: 1;
	background-color: rgba(0, 95, 163, 1);
}
.dot-all-two{
    top: 750px;
}
.dot-next-one{
    
    margin-left:21.09%;
}
.dot-next-two{
    
    margin-left: 23.697916%;
}
.dot-next-three{
    
    margin-left: 26.302083%;
}
.dot-next-four{
   
    margin-left: 28.90625%;
}

@media (max-width: 1400px){


    .slider-four-clients{
      
        margin-top: 140px;
        margin-left: 11.09%;
        
        font-size: 24px;
        
    }
    .slider-four-work{

        margin-top: 203px;
        margin-left: 11.197916%;
        
        font-size: 38px;
       
    }


.slider-reviews{
    
    width: 79%;
    min-height: 320px;
    margin-top: 330px;
    margin-left: 11.09%;
    
    
    
    
}
.slider-reviews-txt{
    position: absolute;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 45px;
    max-width: 920px;
    

    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
 
}
.slider-face{
    position: absolute;
    padding-top: 200px;
    padding-left: 45px;
    width: 80px;
    height: 80px;
}

.slider-face-locate{
    position: absolute;
    padding-top: 220px;
    padding-left: 160px;

}


.dot-next-one{
    
    margin-left: 15.6%;
}
.dot-next-two{
    
    margin-left: 18.2%;
}
.dot-next-three{
    
    margin-left: 20.8%;
}
.dot-next-four{
   
    margin-left: 23.4%;
}


}

@media (max-width: 890px){
    .slider-four-clients{  
        margin-top: 60px;
        font-size: 22px;
    }
    
    .slider-four-work{
        margin-top: 123px;
        font-size: 32px;
    }

    .slider-reviews{
    
        margin-top: 250px;    
    }
    .slider-face{

        padding-top: 220px;

    }
    
    .slider-face-locate{

        padding-top: 240px;

    }
    .dot-next-two{
    
        margin-left: 20.2%;
    }
    .dot-next-three{
        
        margin-left: 24.8%;
    }
    .dot-next-four{
       
        margin-left: 29.4%;
    }
}
@media (max-width: 790px){
    .slider-reviews{
        min-height: 340px;   
    }

    .slider-face{

        padding-top: 240px;

    }
    
    .slider-face-locate{

        padding-top: 260px;

    }
}

@media (max-width: 690px){
    .slider-reviews{
        min-height: 360px;   
    }

    .slider-face{

        padding-top: 260px;

    }
    
    .slider-face-locate{

        padding-top: 280px;

    }
    .slider-face{
        width: 70px;
        height: 70px;
    }
}
