

.section-five{

    background: url(img/TheEnd.png);
    width: 100%;
    height: 623px;
    background-size: cover;
    position: relative;
    

    
}

.contact-us{
    font-family: Merriweather-Regular;
    
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;

    top: 122px;
    padding-left: 21.197916%;

    color: rgba(255, 255, 255, 1);
    position: absolute;
}

.contact-questions{
    max-width: 445px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;

    top: 229px;
    padding-left: 21.09%;
    color: rgba(189, 189, 189, 1);
    position: absolute;
}

.contact-num-mail{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    top: 351px;
    padding-left: 21.197916%;
    position: absolute;
}

.white-phone{
    width: 18px;
    height: 30px;
}

.num-white-phone{
    padding-left: 16px;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;

    color: rgba(189, 189, 189, 1);
}
.email-c{
    display: flex;
    
}
.white-mail{
    padding-left: 40px;
    width: 40px;
    height: 30px;
}

.email-white-mail{
    padding-left: 16px;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;

    color: rgba(189, 189, 189, 1);
}

.contact-second{
    position: absolute;
    top: 135px;
    padding-left: 50.78125%;
    width: 14.84375%;
    z-index: 3;
}
.contact-second-name{

    font-size: 16px;
    line-height: 22px;
    padding-bottom: 15px;
    color: white;
}
.contact-second-text{
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: rgba(189, 189, 189, 1);
    
    
    outline: none;
    background: none;
    border-style: none;
    width: 86%;
    
    
    
    
}

.underline{

    height: 0px;
    width: 87%;
    
    border: 1px solid  rgba(189, 189, 189, 1);
    
}
.contact-second-two{
    position: absolute;
    top: 135px;
    padding-left:  65.625%;
    /* width: 100%%; */
    width: 34.375%;
    z-index: 2;
}

.contact-second-name-two{
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 15px;
    color: white;
    
}

.contact-second-text-two{
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: rgba(189, 189, 189, 1);
    background: none;
    border-style: none;
    outline: none;
    width: 37.5625%;
    
}

.underline-second{
    height: 0px;
    width: 37.5625%;
    
    border: 1px solid  rgba(189, 189, 189, 1);
}
.contact-second-three{
    position: absolute;
    padding-top: 306px;
    padding-left: 50.78125%;
    outline: none;
    /* width: 100%; */
    width: 49.21875%;
}

.contact-second-name-three{
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 15px;
    color: white;
}
.contact-second-text-three{
    
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: rgba(189, 189, 189, 1);
    background: none;
    border-style: none;
    outline: none;
    width: 56.75%;
    
    
}

.underline-three{
    height: 0px;
    width: 56.75%;
    border: 1px solid  rgba(189, 189, 189, 1);
}

.submit-button{
    position: absolute;
    background-color: rgba(0, 95, 163, 1);
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    width: 14.0625%;
    height: 60px;
    margin-top: 423px;
    margin-left: 64.84375%;
    border-width: 0px;
    cursor: pointer;
}

button:active{
    opacity: 0.5;
}

@media (max-width: 1700px){
    .contact-us{
        padding-left: 12.6%;
    
    }
    .contact-questions{

        padding-left: 12.5%;
    }
    .contact-num-mail{

        padding-left: 12.6%;
        
    }
    
}

@media (max-width: 1300px){
    .contact-second{
        
        padding-left: 60.78125%;
        width: 14.9%;
    }
    .underline{
        width: 86%;
        
    }
    
    .contact-second-two{
        
        padding-left:  75.625%;
        width: 24.375%;
        
    }
    .contact-second-text-two{
        width: 52.5625%;
    }
    .underline-second{
        
        width: 52.5625%;
      
    }
    
    .contact-second-three{
        
        padding-left: 60.78125%;
        width: 39.21875%;
        
    }

    .contact-second-text-three{
        width: 70.89%;
    }

    .underline-three{
        
        width: 70.89%;
        
    }
   
    .submit-button{
      
        margin-left: 74.84375%;
        
    }
}

@media (max-width: 960px){
    .contact-us{
        font-size: 30px;
    }

    .contact-questions{
        max-width: 230px;
        

    }
    .email-c{
        display: flex;
        width: 100%;
        padding-top: 50px;
        position: absolute;
    }
    .white-phone {
        width: 18px;
        height: 30px;
        
    }
    .white-mail {
        padding-left: 0%;
        width: 25px;
        height: 18px;
        align-self: center;
    }
}