

.loopSliders{
    width: 100%;
    height: 662px;
    margin: 0;
    position: relative;
    
}


.loopSliders-item{
    display: none;
    
    
}



.loopSliders-active{
    display: block;
    
    transition: right 0.7s ease-in 0s;
    
    opacity: 1;
}

.loopSliders-img{
    width: 100%;
    height: 662px;
}

    

.loopSliders-text{
    font-family: Merriweather-Regular;
    position: absolute;
    top: 170px;
    padding-left: 21.09%;
    
    color: white;
    font-size: 48px;
    line-height: 66px;
    max-width: 588px;
    
}

.loopSliders-presentation{
    position: absolute;
    background-color: #005FA3;
    width: 270px;
    height: 60px;
    top: 367px;
    margin-left: 21.09%;
    cursor: pointer;
    border-width: 0px;
    font-size: 18px;
    line-height: 25px;
    color: white;
}
.prev-first,
.next-first{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    
	top: 497px;
    width: 60px;
    height: 60px;
    
	color: #fff;
	
	transition: .6s;
}
.btn{
    margin-left: 72.65625%;
    display: block;
}
.prev-first{
    /* left: 50%; */
    
    
    background-color: rgba(0, 95, 163, 1);
    opacity: 0.2;
}
.next-first{
    /* left: 52%; */
    
    margin-left: 60px;
    background-color: rgba(0, 95, 163, 1);
    opacity: 1;
    
}
.prev-first:hover,
.next-first:hover{
    background-color: rgba(0, 95, 163, 1);
    opacity: 1;
}
.prev-first:hover + .next-first{
    background-color: rgba(0, 95, 163, 1);
    opacity: 0.2;
}
.prev-first:active,
.next-first:active{
    background-color: rgba(0, 95, 163, 1);
    opacity: 0.1;
    
}
.dot-main{
    display: flex;
    justify-content: space-between;
}

.doted{
    
    position: absolute;
    
    cursor: pointer;
    top: 547px;
	width: 10px;
    height: 10px;
 
	border-radius: 50%;
	display: inline-block;
    background-color: rgba(0, 95, 163, 1);
    opacity: 0.4;
    transition: background-color, opacity 0.6s ease;
    
   
}
.active, .dots:hover{
    opacity: 1;
	background-color: rgba(0, 95, 163, 1);
}

.doted-one{
    margin-left: 21.09%;
    
}
.doted-two{
    margin-left: 23.697916%;
    
}
.doted-three{
    
    margin-left: 26.302083%;
}
.doted-four{
    
    margin-left: 28.90625%;
}


@media (max-width: 1161px){
    .loopSliders-text{
        
        top: 170px;
        padding-left: 21.09%;
        
        
        font-size: 38px;
        line-height: 66px;
        max-width: 588px;
        
    }

}

@media (max-width: 1000px){
    .loopSliders-text{
        
        top: 170px;
        padding-left: 11.09%;
        
        
        font-size: 28px;
        line-height: 66px;
        max-width: 355px;
        
    }

    .loopSliders-presentation{
        
        width: 270px;
        height: 60px;
        top: 367px;
        margin-left: 11.09%;
        
        font-size: 18px;
        line-height: 25px;
        
    }

    .doted-one{
        margin-left: 15.09%;
        
    }
    .doted-two{
        margin-left: 19.697916%;
        
    }
    .doted-three{
        
        margin-left: 24.302083%;
    }
    .doted-four{
        
        margin-left: 28.90625%;
    }

}