.The-end{
    height: 110px;
    background: white;
    position: relative;
}

.The-end-first{

    position: absolute;
    padding-top: 50px;
    padding-left: 21.197916%;

    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: rgba(189, 189, 189, 1);
}
.The-end-second{
    position: absolute;
    width: 20.88541666666667%;
    text-align: right;

    padding-top: 50px;
    padding-left: 58.02083333333333%;

    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: rgba(189, 189, 189, 1);
}